.modal-container {
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
    text-align: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.8);
}

.modal {
    position: absolute;
    max-width: 250px;
    height: 200px;
    margin: auto;
    padding: 35px;
    text-align: left;
    background: linear-gradient(180deg, #EEEEEE 0%, #FFFFFF 100%);
}

.instruction {
    font-weight: bold;
    color: #DB6300;
}

.modal-form {
    position: relative;
}

.limits-container {
    height: 85px;
}

.input-container {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 15px;
}

.input-modal {
    width: 100px;
}

.btn-modal {
    position: absolute;
    right: 16px;
}

.btn-close {
    position: absolute;
    top: 10px;
    right: 20px;
}

.close-pipe {
    position: absolute;
    font-weight: bold;
    color: #DB6300;
}

.close-pipe1 {
    top: -1px;
    transform: rotate(45deg);
}

.close-pipe2 {
    transform: rotate(135deg);
}